body {

}
.container{
    margin: 100px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#myTBL {
    border-radius:5px;
    border: 1px solid #cccccc;
}
#myTBL td {
    background: white;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius:5px;
    border: 1px solid #cccccc;
}
#myTBL td.act {
    background: black;
}